<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Example</title>
    <link rel="stylesheet" href="../static/info_stylesheet.css">
    <script defer src="../static/website.js"></script>

</head>
<body>
    <div id="whole-page">
        <div class="off-screen-menu">
            <br>
            <ul>
                <li><a href="home.html" class="button-link">Home</a></li>
                <li>~~~~</li>
                <li>~~~~</li>
                <li><a href="mekanism.html" class="button-link">Mekaism</a></li>
            </ul>
        </div>
        <nav>
             <div class="ham-menu">
                ☰ 
             </div>
        </nav>
        <p>
            <br>
            aaaaa
        </p>
    </div>
    
</body>
</html>