<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Example</title>
    <link rel="stylesheet" href="../static/meka_stylesheet.css">
    <script defer src="../meka_website.js"></script>
</head>
<body>
    <div class="off-screen-menu">
        <ul>
            <li><a href="home.html" class="button-link">Home</a></li>
            <li>~~~~</li>
            <li>~~~~</li>
            <li><a href="mekanism.html" class="button-link">Mekaism</a></li>
        </ul>
    </div>
    <nav>
        <div class="ham-menu">
           ☰ 
        </div>
   </nav>
<H1><br>Mekanism</H1>
<p>
    Mekanism is a mod centered around building machines and upgrading machines. <br>
    The progression is centered around 4 tiers of items and machines with each tier being more expensive then the last<br>
    Mekanism as a stand-alone mod has no ultimate end goal, but for ATM10 the endgoal is the anti-matter pellet and <br>
    the gravitatinal modulating unit which are needed to make the atm star.
</p>
</body>