#whole-page {
    display: flex;
    justify-content: center;
}
body {
    background-color: rgb(34, 34, 34);
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: rgb(200, 200, 200);
}
.off-screen-menu {
    background-color: black;
    max-width: 150px;
    width: 100%;
    color: white;
    text-align: left;
    position: fixed;
    left: 10000000px;
    border-radius: 5px;
}

.off-screen-menu.show {
    left: 0px;
}
.ham-menu {
    font-size: 30px;
    color: white;
    left: 16px;
    position: fixed;
    cursor: pointer;
    user-select: none;
    top: 8px
}
.ham-menu:hover {
    color: blue;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: blue;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

form[action="/comment"] {
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex; 
    align-items: flex-start; 
    gap: 10px; 
}

form[action="/comment"] textarea {
    width: 50%;
    height: 20px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 14px;
    resize: none;
}

form[action="/comment"] textarea:focus {
    outline: none;
    border-color: #666;
}

form[action="/comment"] button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: stretch; 
}

form[action="/comment"] button:hover {
    background-color: #0056b3;
}

#overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

#overlay-container.active {
    display: flex; 
}

.overlay-message {
    color: white;
    display: flex; 
    font-size: 15px;
    font-weight: bold;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(214, 16, 138, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}